<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <title>Тормоза</title>

</head>
<body>
 <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
          <span class="fs-4">ООО "Крутим-Вертим"</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="p-3 mb-2 bg-secondary text-white border bg-gradient" href="\home\">Главная</a>
        <a class="p-3 mb-2 bg-secondary text-white border bg-gradient" href="\engine\">Двигатель</a>
        <a class="p-3 mb-2 bg-secondary text-white border bg-gradient" href="\vehicle\">Ходовая часть</a>
        <a class="p-3 mb-2 bg-secondary text-white border bg-gradient" href="\brake\">Тормоза</a>
        <a class="p-3 mb-2 bg-secondary text-white border bg-gradient" href="\ac\">Кондиционер</a>
        <a class="p-3 mb-2 bg-secondary text-white border bg-gradient" href="\launch\">Компьютерная диагностика</a>

      </nav>
    </div>
 </header>

 <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h2 class="display-4 fw-normal">Тормоза придумали трусы? Неправда!</h2>
    </div>

<figure class="figure">
  <img src="/media/img/41.jpg" class="figure-img img-fluid rounded " alt="">
</figure>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <p class="fs-5 text-muted">А Вы знали что...При городской эксплуатации, особенно в пробках, тормозные колодки могут нагреваться до 350–400 градусов. Состав фрикционной поверхности позволяет выдерживать такие температуры без потери эффективности при торможении. Более того, на гоночных автомобилях тормозные колодки могут нагреваться до 700–800 градусов — на треке с интенсивными торможениями такая температура считается нормальной.</p>
</div>

<div class="card border-primary mb-3" style="max-width: 1800px; margin:20px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/media/img/52.jpg" class="img-fluid rounded-start" alt="">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title text-danger">Ремонт тормозной системы</h4>
                <p class="card-text"><h5>Следует помнить, что исправные тормоза - основа безопасности!!! Поэтому при возникновении различных неисправностей
                следует незамедлительно обращаться к специалистам. Мы готовы предоставить Вам весь комплекс ремонтных работ по тормозной системе. От банальной замены тормозных колодок, до сложнейшего ремонта гидравлики.
                Кроме того, у нас всегда в наличии диски и колодки на автомобили  VAG-группы по самым антикризисным ценам!!!
            </h5></p>
            </div>
        </div>
    </div>
</div>

<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">&copy; 2022</small>
    </div>
    <div class="col-6 col-md">
      <h5>Контакты</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="\cont\">Наши адреса</a></li>
        <li><a class="link-secondary" href="\cont\">Контактные телефоны</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>О Компании</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="\history\">История компании</a></li>
        <li><a class="link-secondary" href="\team\">Наш коллектив</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Информация</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="\news\">Новости</a></li>
        <li><a class="link-secondary" href="\promo\">Акции</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
       <h5>Клиентам</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="\price\">Прайс-лист</a></li>
        <li><a class="link-secondary" href="\wait\">Зона ожидания</a></li>
      </ul>
    </div>
  </div>
</footer>

 </body>
</html>