<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <title>Двигатель</title>

</head>
<body>
 <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
          <span class="fs-4">ООО "Крутим-Вертим"</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="p-3 mb-2 bg-secondary text-white border bg-gradient" href="\home\">Главная</a>
        <a class="p-3 mb-2 bg-secondary text-white border bg-gradient" href="\engine\">Двигатель</a>
        <a class="p-3 mb-2 bg-secondary text-white border bg-gradient" href="\vehicle\">Ходовая часть</a>
        <a class="p-3 mb-2 bg-secondary text-white border bg-gradient" href="\brake\">Тормоза</a>
        <a class="p-3 mb-2 bg-secondary text-white border bg-gradient" href="\ac\">Кондиционер</a>
        <a class="p-3 mb-2 bg-secondary text-white border bg-gradient" href="\launch\">Компьютерная диагностика</a>

      </nav>
    </div>
 </header>

 <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Двигатель - Сердце автомобиля!</h1>
    </div>


 <figure class="figure">
  <img src="/media/img/36.jpg" class="figure-img img-fluid rounded " alt="">
</figure>

 <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <p class="fs-5 text-primary">А Вы знали...Коэффициент полезного действия современного двигателя 25±5%.
Работа ДВС происходит не в идеальных условиях. Мотор греет вокруг себя воздух, охлаждающую жидкость, масло, радиатор, выхлоп и другие узлы. На этом теряется около 35%

Хотя современные автомобили и снабжены электронным блоком управления, он не полностью решает проблему того, что топливо сгорает не полностью и его часть выходит вместе с выхлопными газами. Это уже ~25% потерь.

Еще 20% забирают механические потери. Поршни, кольца, шестерни и прочие элементы, где присутствует трение.</p>
</div>



<div class="card border-primary mb-3" style="max-width: 1800px; margin:20px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/media/img/37.jpg" class="img-fluid rounded-start" alt="">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title text-danger">Плановое обслуживание</h4>
                <p class="card-text"><h5>Для предупреждения выхода из строя двигателя авто, необходимо проводить установленные регламентные работы. К ним относятся: замена масла и других технических жидкостей, замена комплектов ремней или цепей ГРМ, замена свечей зажигания.Все эти и другие работы по ТО Вашего автомобиля мы рады  предложить Вам! Кроме того, Вы можете получить у нас бесплатную консультацию относительно порядка и переодичности проведения работ тех или иных работ по плановому обслуживанию!</h5></p>
            </div>
        </div>
    </div>
</div>

<div class="card border-primary mb-3" style="max-width: 1800px; margin:20px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/media/img/23.jpg" class="img-fluid rounded-start" alt="">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title text-danger">Ремонт двигателя</h4>
                <p class="card-text"><h5>Если же вы не уследили за мотором Вашей "ласточки" и ему необходим ремонт, доверьте это профессионалам! Снятие/установка, разборка/дефектовка двигателя, полный спектр по ремонту ГБЦ,БЦ и топливной системы, замена сальников и прокладок всех видов, ремонт поршневой группы и многие другие виды работ по ДВС.</h5></p>
            </div>
        </div>
    </div>
</div>

 <footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">&copy; 2022</small>
    </div>
    <div class="col-6 col-md">
      <h5>Контакты</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="\cont\">Наши адреса</a></li>
        <li><a class="link-secondary" href="\cont\">Контактные телефоны</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>О Компании</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="\history\">История компании</a></li>
        <li><a class="link-secondary" href="\team\">Наш коллектив</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Информация</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="\news\">Новости</a></li>
        <li><a class="link-secondary" href="\promo\">Акции</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
       <h5>Клиентам</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="\price\">Прайс-лист</a></li>
        <li><a class="link-secondary" href="\wait\">Зона ожидания</a></li>
      </ul>
    </div>
  </div>
</footer>

 </body>
</html>
